
<nav class="navbar navbar-default navbar-fixed-top navbar-header">
    <div class="navbar-brand pull-left">
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page"
           class="glyphicon glyphicon-menu-left"> </a>
    </div>

    <a class="navbar-brand" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
        Widget List
    </a>
    <div class="navbar-brand pull-right">
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"
           class="glyphicon glyphicon-plus"> </a>
    </div>

</nav>


<div class="container-fluid" >
    <div wbdv-sortable ng-model="model.widgets" >
    <div ng-repeat="widget in model.widgets">

        <div class="wd-widget">
            <div class="wd-toolbar">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
            </div>

        <div ng-switch="widget.widgetType">
            <div ng-switch-when="HEADING">
                <div ng-include src="'views/widget/templates/widget-heading.view.client.html'"></div>
            </div>
            <div ng-switch-when="IMAGE">
                <div ng-include src="'views/widget/templates/widget-image.view.client.html'"></div>
            </div>
            <div ng-switch-when="HTML">
                <div ng-bind-html="model.trustThisContent(widget.text)"></div>
            </div>
            <div ng-switch-when="YOUTUBE">
                <br>
                <div ng-include src="'views/widget/templates/widget-youtube.view.client.html'"></div>
            </div>
        </div>



    </div>
    </div>
</div>
</div>
<br>
<br>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="pull-right navbar-brand">
        <a href="#!/user/{{model.userId}}">
            <span class="glyphicon glyphicon-user pull-right"></span>
        </a></div>
</nav>